<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Paypal Node App</title>
</head>
<body>
	<h1>BBB</h1>
	<h2>Buy for $25</h2>
	<form action="/pay" method="post">
		<input type="submit" value='Buy'>		
	</form>
</body>
</html>